<form [formGroup]="form"i (ngSubmit)="submit()">
	<div class="form-group">
		<label for="password">
			Mot de passe
		</label>
		<input type='text' id="password" formControlName="password" class="form-control"/>
		<div class="alert alert-danger" *ngIf="Password?.errors && Password?.touched">
			<div *ngIf="Password?.errors?.['doesNotMatch']">Ce n'est pas ton mot de passe vil mécréant</div>
		</div>
	</div>
	<div class="form-group">
		<label for="newPassword">
			Nouveau mot de passe
		</label>
		<input type='text' id="newPassword" formControlName="newPassword" class="form-control"/>
		<div class="alert alert-danger" *ngIf="NewPassword?.errors && NewPassword?.touched">
			<div *ngIf="NewPassword?.errors?.['required']">Ce champ est requis.</div>
			<div *ngIf="NewPassword?.errors?.['minlength']">Votre nouveau mot de passe devrait faire au moins 5 charractères</div>
		</div>
	</div>
	<div class="form-group">
		<label for="confirmNew">
			Confirmation nouveau mot de passe
		</label>
		<input type='text' id="confirmNew" formControlName="confirmNew" class="form-control"/>
		<div class="alert alert-danger" *ngIf="form?.errors && ConfirmNew?.touched">
			<div *ngIf="form?.errors?.['badConfirm']">
				Les mot de passes ne correspondent pas
			</div>
		</div>
	</div>
	<button type='submit' class='btn btn-primary'>
		Submit
	</button>
</form>
